[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
seaborn = "*"
h3 = "*"
shapely = "*"
geopandas = "*"
numpy = "*"
pandas = "*"
contextily = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
